<?xml version="1.0" encoding="UTF-8"?>
<com.zhangfuwen.app devMode="true"
        interval="10">
    <com.zhangfuwen.gateway name="myIOTGateway"
            host="192.168.0.222"
            port="502">

        <spec max_nodes="64"
              max_channels_per_node="32"/>

        <nodes>
            <node nodeName="zigbeeNode1" nodeAddr="64"/>
            <node nodeName="zigbeeNode2" nodeAddr="1"/>
        </nodes>

    </com.zhangfuwen.gateway>
</com.zhangfuwen.app>
