<header>
    <script>
        $('body').attr('class', 'theme-white');
    </script>
    <!-- logo -->
    <div class="am-fl tpl-header-logo">
        <a href="javascript:;"><img src="/assets/img/logo.png" alt=""></a>
    </div>
    <!-- 右侧内容 -->
    <div class="tpl-header-fluid">
        <!-- 侧边切换 -->
        <div class="am-fl tpl-header-switch-button am-icon-list">
                    <span>

                </span>
        </div>
        <!-- 其它功能-->
        <div class="am-fr tpl-header-navbar">
            <ul>
                <!-- 欢迎语 -->
                <li class="am-text-sm tpl-header-navbar-welcome">
                    <a href="javascript:;">欢迎你, <span th:text="${username}">Dean</span> </a>
                </li>


                <li sec:authorize="hasRole('ROLE_ADMIN')" >
                    <a href="/users">
                        <i class="am-icon-tv" ></i> 用户管理
                    </a>
                    This content is only shown to administrators.
                </li>
                <li sec:authorize="hasRole('ROLE_CREATOR')">
                    <a href="/users">
                        <i class="am-icon-tv" ></i> 用户管理
                    </a>
                </li>

                 <li sec:authorize="isAnonymous()">
                    <a  href="/login" class="am-text-sm">
                        <span class="am-icon-clone"></span> 登入
                    </a>
                </li>

                <!--修改密码-->
                <li sec:authorize="isAuthenticated()" class="am-text-sm">
                    <a href="/user/password">
                        <span class="am-icon-sign-out"></span> 修改密码
                    </a>
                </li>
                <!-- 退出 -->
                <li sec:authorize="isAuthenticated()" class="am-text-sm">
                    <a href="/logout">
                        <span class="am-icon-sign-out"></span> 退出
                    </a>
                </li>
            </ul>
        </div>
    </div>

</header>