<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <script src="/assets/js/echarts.min.js"></script>
    <link rel="stylesheet" href="/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/assets/css/amazeui.datatables.min.css"/>
    <link rel="stylesheet" href="/assets/css/app.css">
    <script src="/assets/js/jquery.min.js"></script>

</head>

<body data-type="widgets">
<script src="/assets/js/theme.js"></script>
<div class="am-g tpl-g">
    <div th:include="header::header"></div>
    <!-- 风格切换 -->
    <div class="tpl-skiner">
        <div class="tpl-skiner-toggle am-icon-cog">
        </div>
        <div class="tpl-skiner-content">
            <div class="tpl-skiner-content-title">
                选择主题
            </div>
            <div class="tpl-skiner-content-bar">
                <span class="skiner-color skiner-white" data-color="theme-white"></span>
                <span class="skiner-color skiner-black" data-color="theme-black"></span>
            </div>
        </div>
    </div>
    <!-- 侧边导航栏 -->
    <div th:include="sidebar"></div>


    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title  am-cf">节点列表</div>


                        </div>
                        <div class="widget-body  am-fr">

                            <form class="am-form tpl-form-line-form row">
                                <div class="row am-cf">
                                    <div class="am-form-group am-u-md-4 am-u-lg-4 am-u-sm-12 am-u-xs-12">
                                        <label for="gateway" class="am-form-label">网关</label>
                                        <select name="gateway" id="gateway" >
                                            <option th:each="gateway : ${gateways}" th:value="${gateway.id}"
                                                    th:text="|${gateway.host}:${gateway.port}|"></option>
                                        </select>
                                    </div>

                                    <div class="am-form-group am-u-md-4 am-u-lg-4 am-u-sm-12 am-u-xs-12">
                                        <label for="node" class="am-form-label">节点</label>
                                        <select name="node" id="node" >
                                            <option th:each="node :${#numbers.sequence( 0, 64)}" th:value="${node}" th:text="${node}"></option>
                                        </select>
                                    </div>

                                    <div class="am-form-group am-u-md-4 am-u-lg-4 am-u-sm-12 am-u-xs-12">
                                        <label for="chan" class="am-form-label">通道</label>
                                        <select name="chan" id="chan" >
                                            <option th:each="chan :${#numbers.sequence( 0, 31)}" th:value="${chan}" th:text="${chan}"></option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row am-cf">
                                    <div class="am-form-group am-u-md-4 am-u-lg-4 am-u-sm-12 am-u-xs-12">
                                    <input type="radio" name="historyType" value="week"/>周数据<br/>
                                    <input type="radio" name="historyType" value="day"/>日数据<br/>
                                    <input type="radio" name="historyType" value="hour"/>时数据<br/>
                                    </div>
                                </div>
                                <!--choose day-->
                                <div class="am-form-group" id="date-chooser">
                                    <label for="date" class="am-u-sm-3 am-form-label">日期</label>
                                    <input type="date" name="date" id="date">
                                </div>
                                <!--choose hour range-->
                                <div class="am-form-group" id="hour-chooser">
                                    <label class="am-u-sm-3 am-form-label">起止时间</label>
                                    <input type="text" id="datetime1" name="start">
                                    <input type="text" id="datetime2" name="end">
                                </div>

                                <button type="button" id="query">查询</button>
                            </form>
                            <div class="graph"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<script src="/assets/js/amazeui.min.js"></script>
<script src="/assets/js/amazeui.datatables.min.js"></script>
<script src="/assets/js/dataTables.responsive.min.js"></script>
<script src="/assets/js/app.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/css/jquery.datetimepicker.css"/ >
<script src="/jquery.js"></script>
<script src="/assets/js/jquery.datetimepicker.min.js"></script>
<script>
    $(document).ready(function() {
        jQuery('#datetime1').datetimepicker();
        jQuery('#datetime2').datetimepicker();
        $("#date-chooser").hide();
        $("#hour-chooser").hide();
        $('input[type=radio][name=historyType]').change(function() {
            if (this.value == 'day') {
                $("#date-chooser").show();
                $("#hour-chooser").hide();
            }
            else if (this.value == 'week') {
                $("#date-chooser").hide();
                $("#hour-chooser").hide();
            }
            else if(this.value = 'hour') {
                $("#hour-chooser").show();
                $("#date-chooser").hide();
            }
        });
        $("#query").click(function () {
            var gateway = $( "#gateway option:selected" ).val();
            var node = $( "#node option:selected" ).val();
            var chan = $( "#chan option:selected" ).val();
            var historyType = $("input[name='historyType']:checked").val();
            var date = $("#date").val();
            var start = $("#start").val();
            var end = $("#end").val();

            var url="/webapp/trend?gatewayid="+gateway +"&nodeaddr="+node +"&channel="+chan +"&historyType="+historyType;
            if(historyType=="day") {
                url+="&date="+date;
            }else if(historyType=="hour") {
                url+="&start="+start +"&end="+end;
            }
            console.log(url);
            window.open(url);
        })
    });
</script>

</body>

</html>