<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>添加节点信息</title>
    <meta name="description" content="添加网关">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/assets/css/amazeui.datatables.min.css"/>
    <link rel="stylesheet" href="/assets/css/app.css">
    <script src="/assets/js/jquery.min.js"></script>

</head>

<body data-type="login">
<script src="/assets/js/theme.js"></script>
<div class="am-g tpl-g">
    <!-- 风格切换 -->
    <div class="tpl-skiner">
        <div class="tpl-skiner-toggle am-icon-cog">
        </div>
        <div class="tpl-skiner-content">
            <div class="tpl-skiner-content-title">
                选择主题
            </div>
            <div class="tpl-skiner-content-bar">
                <span class="skiner-color skiner-white" data-color="theme-white"></span>
                <span class="skiner-color skiner-black" data-color="theme-black"></span>
            </div>
        </div>
    </div>
    <div class="tpl-login">
        <div class="tpl-login-content">
            <div class="tpl-login-title">添加节点信息</div>
            <span class="tpl-login-content-info">
                  添加一个节点信息
              </span>


            <form id="new_node_info_form" class="am-form tpl-form-line-form "
                  action="/webapp/nodeinfo/add" enctype="multipart/form-data" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}"
                       th:value="${_csrf.token}"/>
                <div class="am-form-group">
                    <input type="text" class="tpl-form-input am-modal-prompt-input"
                           id="gatewayId"
                           name="gatewayId"
                           placeholder="网关id"/>
                </div>

                <div class="am-form-group">
                    <select type="text" class="tpl-form-input" id="nodeAddr"
                            name="nodeAddr" placeholder="节点地址">
                        <option th:each="addr :${#numbers.sequence( 1, 64)}"
                                th:value="${addr}" th:text="${addr}"></option>
                    </select>
                </div>

                <div class="am-form-group">
                    <input type="text" class="tpl-form-input" id="nodeName"
                           name="nodeName" placeholder="定义一个节点名称"/>
                </div>
                <div class="am-form-group">
                    <input type="text" class="tpl-form-input" id="X" name="X"
                           placeholder="X"/>
                </div>
                <div class="am-form-group">
                    <input type="text" class="tpl-form-input" id="Y" name="Y"
                           placeholder="Y"/>
                </div>
                <div id="map"></div>
                <div class="am-form-group">
                    <input type="text" class="tpl-form-input" id="desc" name="desc"
                           placeholder="描述"/>
                </div>
                <div class="am-form-group">
                    <input type="file" class="tpl-form-input" id="pic" name="pic"
                           placeholder="图片"/>
                </div>
                <div class="am-form-group">
                    <button type="submit" class="am-btn am-btn-primary  am-btn-block tpl-btn-bg-color-success  tpl-login-btn">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/assets/js/amazeui.min.js"></script>
<script src="/assets/js/app.js"></script>

</body>

</html>