<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <script src="/assets/js/echarts.min.js"></script>
    <link rel="stylesheet" href="/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/assets/css/amazeui.datatables.min.css"/>
    <link rel="stylesheet" href="/assets/css/app.css">
    <script src="/assets/js/jquery.min.js"></script>

</head>

<body data-type="widgets">
<script src="/assets/js/theme.js"></script>
<div class="am-g tpl-g">
    <div th:include="header::header"></div>
    <!-- 风格切换 -->
    <div class="tpl-skiner">
        <div class="tpl-skiner-toggle am-icon-cog">
        </div>
        <div class="tpl-skiner-content">
            <div class="tpl-skiner-content-title">
                选择主题
            </div>
            <div class="tpl-skiner-content-bar">
                <span class="skiner-color skiner-white" data-color="theme-white"></span>
                <span class="skiner-color skiner-black" data-color="theme-black"></span>
            </div>
        </div>
    </div>
    <!-- 侧边导航栏 -->
    <div th:include="sidebar"></div>


    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title  am-cf">节点列表</div>


                        </div>
                        <div class="widget-body  am-fr">

                            <!--用户列表-->
                            <div class="am-u-sm-12">
                                <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black "
                                       id="example-r">
                                    <thead>
                                    <tr>
                                        <th>节点地址</th>
                                        <th>节点名称</th>
                                        <th>最近在线时间</th>
                                        <th>传感器信息</th>
                                    </thead>
                                    <tbody>
                                    <tr class="gradeX" th:each="node : ${nodes}">
                                        <td th:text="${node.nodeAddr}">Onions</td>
                                        <td >
                                            <div th:if="${node.info != null}">
                                                <span th:text="${node.info.nodeName}">节点名A</span>
                                                <button class="toggle-detail am-btn am-btn-default">详情</button>
                                                <div style="display:none;z-index: 2000;position:fixed;  ">
                                                    <div class="widget-body am-fr">
                                                        <ul class="am-list">
                                                            <li th:text="'名称：'+${node.info.nodeName}"></li>
                                                            <li th:text="'地址：'+${node.info.nodeAddr}"></li>
                                                            <li th:text="'X  ：'+${node.info.X}"></li>
                                                            <li th:text="'Y  ：'+${node.info.Y}"></li>
                                                            <li th:text="'描述：'+${node.info.desc}"></li>
                                                            <li th:text="'图片：'+${node.info.pic}"></li>
                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>
                                            <div th:if="${node.info == null}">未定义</div>
                                        </td>

                                        <td th:text="${node.created}"></td>
                                        <!--<td th:text="${node.coilOrSensors}"></td>-->
                                        <td>
                                            <table>
                                                <tr>
                                                    <td class="sensor" th:each="chan : ${node.coilOrSensors}">
                                                            通道:<span class="channel" th:text="${chan.channel}"></span><br/>
                                                            传感器类型:<span class="sensorType" th:text="${chan.getSensorTypeString()}"></span><br/>
                                                            数据类型:<span class="dataType" th:text="${chan.dataType}"></span><br/>
                                                            数值:<span class="rawvalue" th:text="${chan.getRealValue()}"></span>
                                                        <!--<a class="am-btn am-btn-default"-->
                                                           <!--th:href="@{/webapp/trend(gatewayid=${chan.gatewayId}, nodeaddr=${chan.nodeAddr}, channel=${chan.channel},historyType=week)}">-->
                                                            <!--趋势-->
                                                        <!--</a>-->

                                                    </td>
                                                </tr>
                                            </table>

                                        </td>
                                    </tr>

                                    <!-- more data -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="/assets/js/amazeui.min.js"></script>
<script src="/assets/js/amazeui.datatables.min.js"></script>
<script src="/assets/js/dataTables.responsive.min.js"></script>
<script src="/assets/js/app.js"></script>
<script>
    $(".toggle-detail").click(function (e) {
        $(this).next().toggle();
    })
</script>

</body>

</html>