<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>节点命令管理</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <script src="/assets/js/echarts.min.js"></script>
    <link rel="stylesheet" href="/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/assets/css/amazeui.datatables.min.css"/>
    <link rel="stylesheet" href="/assets/css/app.css">
    <script src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=8579ee3b967425dc22f0c3953825ec95"></script>

</head>

<body data-type="widgets">
<script src="/assets/js/theme.js"></script>
<div class="am-g tpl-g">
    <div th:include="header::header"></div>
    <!-- 风格切换 -->
    <div class="tpl-skiner">
        <div class="tpl-skiner-toggle am-icon-cog">
        </div>
        <div class="tpl-skiner-content">
            <div class="tpl-skiner-content-title">
                选择主题
            </div>
            <div class="tpl-skiner-content-bar">
                <span class="skiner-color skiner-white" data-color="theme-white"></span>
                <span class="skiner-color skiner-black" data-color="theme-black"></span>
            </div>
        </div>
    </div>
    <!-- 侧边导航栏 -->
    <div th:include="sidebar"></div>


    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title  am-cf">
                                <div class="row am-cf">
                                    <div class="am-form-group am-u-md-4 am-u-lg-4 am-u-sm-12 am-u-xs-12">
                                        <label for="gateway" class="am-form-label">网关</label>
                                        <select name="gateway" id="gateway">
                                            <!--<option th:each="gateway : ${gateways}" th:value="${gateway.id}"-->
                                            <!--th:text="|${gateway.host}:${gateway.port}|"></option>-->
                                        </select>
                                        <button id="query">查看</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget-body  am-fr">
                            <a id="new-button" type="button"
                                    class="am-btn am-btn-primary"
                               href="/webapp/nodeinfo/add"
                            > 新建
                            </a>

                            <div style="width: 100%;height:400px;">
                                <table class="am-table am-table-compact am-table-striped tpl-table-black ">
                                    <thead>
                                    <th>网关id</th>
                                    <th>节点名称</th>
                                    <th>节点地址</th>
                                    <th>坐标</th>
                                    <th>描述</th>
                                    <th>图片</th>
                                    <th>操作</th>
                                    </thead>
                                    <tbody id="list">

                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--地图弹出框 -->
        <div id="doc-modal-1" class="am-modal am-modal-prompt" tabindex="-1">
            <div class="am-modal-dialog">
                <div class="am-modal-hd">
                    <div id="allmap" style="width:100%; height: 600px"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<script src="/assets/js/amazeui.min.js"></script>
<script src="/assets/js/amazeui.datatables.min.js"></script>
<script src="/assets/js/dataTables.responsive.min.js"></script>
<script src="/assets/js/app.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?ak=XkOypNlmaEaTGHAiZmO5ga7EGudG6UrD&v=2.0&services=false"></script>

<script>
    function updateGatewayList() {
        $.getJSON("http://localhost:8080/api/gateways", function (json) {
            $("#gateway").empty();
            json.forEach(function (e) {
                $("#gateway").append("<option value='" + e.id + "'> " + e.host + ":" + e.port + "</option>");
            })
        });
    }
    function showNodeInfo() {
        $("#list").empty();
        var gateway = $("#gateway option:selected").val();
        console.log(gateway);

        $.getJSON("http://localhost:8080/nodeInfoes/search/findByGatewayId?id=" + gateway, function (e) {
            e._embedded.nodeInfoes.forEach(function (nodeinfo) {
                $("#list").append("<tr class='gradeX'>" + "" +
                    "<td>" + nodeinfo.gatewayId + "</td>" +
                    "<td>" + nodeinfo.nodeName + "</td>" +
                    "<td>" + nodeinfo.nodeAddr + "</td>" +
                    "<td>" +
//                        "<a onclick='showMap("+nodeinfo.y,+","+nodeinfo.y+")'>地图上查看</a>"+
                        "<a onclick='showMap("+nodeinfo.y+","+nodeinfo.y+")'>"+ nodeinfo.x+" : "+ nodeinfo.y +"</a>"+
                    "</td>" +
                    "<td>" + nodeinfo.desc + "</td>" +
                    "<td>" + nodeinfo.pic + "</td>" +
                    "<td>" +
                    "<a class='del'  onclick='deleteNodeInfo(this);' data-url='/webapp/delnodeinfo?gatewayid=" + nodeinfo.gatewayId + "&nodeaddr=" + nodeinfo.nodeAddr + "'>删除</a>" +
                    "<a class='edit am-hide'  onclick='editNodeInfo(this);'>编辑</a>" +
                    "</td>"
                );
            })
        });
    }

    function deleteNodeInfo(e) {
        var url = e.getAttribute("data-url");

        $('#doc-modal-2').modal({
            relatedTarget: this,
            onConfirm: function (e) {
                $.get(url);
                showNodeInfo();
            },
            onCancel: function (e) {

            }
        });

    }

    $(document).ready(function () {

        updateGatewayList();
        $("#query").click(function () {
            showNodeInfo();
        });
    });


</script>

<script>
    function showMap(x,y) {
        console.log(x,y);
        $('#doc-modal-1').modal({});
        var map = new BMap.Map("allmap", {enableMapClick: false});
        map.enableScrollWheelZoom(true);
        var point = new BMap.Point(x, y);
        var redPoint = new BMap.Marker(point);
        map.addOverlay(redPoint);
        map.centerAndZoom(point, 12);
    }
</script>

</body>

</html>