<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>节点命令管理</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <script src="/assets/js/echarts.min.js"></script>
    <link rel="stylesheet" href="/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/assets/css/amazeui.datatables.min.css"/>
    <link rel="stylesheet" href="/assets/css/app.css">
    <script src="/assets/js/jquery.min.js"></script>

</head>

<body data-type="widgets">
<script src="/assets/js/theme.js"></script>
<div class="am-g tpl-g">
    <div th:include="header::header"></div>
    <!-- 风格切换 -->
    <div class="tpl-skiner">
        <div class="tpl-skiner-toggle am-icon-cog">
        </div>
        <div class="tpl-skiner-content">
            <div class="tpl-skiner-content-title">
                选择主题
            </div>
            <div class="tpl-skiner-content-bar">
                <span class="skiner-color skiner-white" data-color="theme-white"></span>
                <span class="skiner-color skiner-black" data-color="theme-black"></span>
            </div>
        </div>
    </div>
    <!-- 侧边导航栏 -->
    <div th:include="sidebar"></div>


    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title  am-cf">
                                <div class="row am-cf">
                                    <div class="am-form-group am-u-md-4 am-u-lg-4 am-u-sm-12 am-u-xs-12">
                                        <label for="gateway" class="am-form-label">网关</label>
                                        <select name="gateway" id="gateway">
                                            <!--<option th:each="gateway : ${gateways}" th:value="${gateway.id}"-->
                                            <!--th:text="|${gateway.host}:${gateway.port}|"></option>-->
                                        </select>
                                        <button id="query">查看</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget-body  am-fr">
                            <a id="new-button" type="button"
                                    class="am-btn am-btn-primary"
                               href="/webapp/nodeinfo/add"
                            > 新建
                            </a>

                            <div id="doc-modal-1" class="am-modal am-modal-prompt" tabindex="-1">
                                <div class="am-modal-dialog">
                                    <div class="am-modal-hd">新建
                                        <a href="javascript: void(0)" class="am-close am-close-spin"
                                           data-am-modal-close>&times;</a>
                                    </div>
                                    <div class="am-modal-bd">
                                        <form id="new_node_info_form" class="am-form tpl-form-line-form "
                                              action="/webapp/nodeinfo/add" enctype="multipart/form-data" method="post">
                                            <input type="hidden" th:name="${_csrf.parameterName}"
                                                   th:value="${_csrf.token}"/>
                                            <div class="am-form-group">
                                                <input type="text" class="tpl-form-input am-modal-prompt-input"
                                                       id="gatewayId"
                                                       name="gatewayId"
                                                       placeholder="网关id"/>
                                            </div>

                                            <div class="am-form-group">
                                                <select type="text" class="tpl-form-input" id="nodeAddr"
                                                        name="nodeAddr" placeholder="节点地址">
                                                    <option th:each="addr :${#numbers.sequence( 1, 64)}"
                                                            th:value="${addr}" th:text="${addr}"></option>
                                                </select>
                                            </div>

                                            <div class="am-form-group">
                                                <input type="text" class="tpl-form-input" id="nodeName"
                                                       name="nodeName" placeholder="定义一个节点名称"/>
                                            </div>
                                            <div class="am-form-group">
                                                <input type="text" class="tpl-form-input" id="X" name="X"
                                                       placeholder="X"/>
                                            </div>
                                            <div class="am-form-group">
                                                <input type="text" class="tpl-form-input" id="Y" name="Y"
                                                       placeholder="Y"/>
                                            </div>
                                            <div id="map"></div>
                                            <div class="am-form-group">
                                                <input type="text" class="tpl-form-input" id="desc" name="desc"
                                                       placeholder="描述"/>
                                            </div>
                                            <div class="am-form-group">
                                                <input type="file" class="tpl-form-input" id="pic" name="pic"
                                                       placeholder="图片"/>
                                            </div>
                                            <div class="am-modal-footer">
                                                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                                                <span class="am-modal-btn" data-am-modal-confirm>提交</span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div id="doc-modal-2" class="am-modal am-modal-prompt" tabindex="-1">
                                <div class="am-modal-dialog">
                                    <div class="am-modal-hd">确认
                                        <a href="javascript: void(0)" class="am-close am-close-spin"
                                           data-am-modal-close>&times;</a>
                                    </div>
                                    <div class="am-modal-hd">是否真的删除？

                                    </div>
                                    <div class="am-modal-footer">
                                        <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                                        <span class="am-modal-btn" data-am-modal-confirm>提交</span>
                                    </div>
                                </div>
                            </div>
                            <div style="width: 100%;height:400px;">
                                <table class="am-table am-table-compact am-table-striped tpl-table-black ">
                                    <thead>
                                    <th>网关id</th>
                                    <th>节点名称</th>
                                    <th>节点地址</th>
                                    <th>X</th>
                                    <th>Y</th>
                                    <th>描述</th>
                                    <th>图片</th>
                                    <th>操作</th>
                                    </thead>
                                    <tbody id="list">

                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<script src="/assets/js/amazeui.min.js"></script>
<script src="/assets/js/amazeui.datatables.min.js"></script>
<script src="/assets/js/dataTables.responsive.min.js"></script>
<script src="/assets/js/app.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?ak=XkOypNlmaEaTGHAiZmO5ga7EGudG6UrD&v=2.0&services=false"></script>

<script>
    function updateGatewayList() {
        $.getJSON("http://localhost:8080/api/gateways", function (json) {
            $("#gateway").empty();
            json.forEach(function (e) {
                $("#gateway").append("<option value='" + e.id + "'> " + e.host + ":" + e.port + "</option>");
            })
        });
    }
    function showNodeInfo() {
        $("#list").empty();
        var gateway = $("#gateway option:selected").val();
        console.log(gateway);

        $.getJSON("http://localhost:8080/nodeInfoes/search/findByGatewayId?id=" + gateway, function (e) {
            e._embedded.nodeInfoes.forEach(function (nodeinfo) {
                $("#list").append("<tr class='gradeX'>" + "" +
                    "<td>" + nodeinfo.gatewayId + "</td>" +
                    "<td>" + nodeinfo.nodeName + "</td>" +
                    "<td>" + nodeinfo.nodeAddr + "</td>" +
                    "<td>" + nodeinfo.x + "</td>" +
                    "<td>" + nodeinfo.y + "</td>" +
                    "<td>" + nodeinfo.desc + "</td>" +
                    "<td>" + nodeinfo.pic + "</td>" +
                    "<td>" +
                    "<a class='del'  onclick='deleteNodeInfo(this);' data-url='/webapp/delnodeinfo?gatewayid=" + nodeinfo.gatewayId + "&nodeaddr=" + nodeinfo.nodeAddr + "'>删除</a>" +
                    "<a class='edit am-hide'  onclick='editNodeInfo(this);'>编辑</a>" +
                    "</td>"
                );
            })
        });
    }

    function editNodeInfo(e) {
        $("#gatewayId").val($("#gateway").val());
        $('#doc-modal-1').modal({
            relatedTarget: this,
            onConfirm: function (e) {
                var post_url = $("#new_node_info_form").attr("action");
                $.ajax({
                    url: post_url,
                    type: 'post',
                    dataType: 'json',
                    data: $('form#new_node_info_form').serialize(),
                    success: function () {
                        alert("提交成功")
                    }
                });
                showNodeInfo();
            },
            onCancel: function (e) {

            }
        });
    }
    function deleteNodeInfo(e) {
        var url = e.getAttribute("data-url");

        $('#doc-modal-2').modal({
            relatedTarget: this,
            onConfirm: function (e) {
                $.get(url);
                showNodeInfo();
            },
            onCancel: function (e) {

            }
        });

    }
    function getAddr() {
        var geolocation = new BMap.Geolocation();
        var pt;
        geolocation.getCurrentPosition(function (r) {
            if (this.getStatus() == BMAP_STATUS_SUCCESS) {
                //setCookie("localX", r.point.lng);
                //setCookie("localY", r.point.lat);
                alert(r.point.lng + " ， " + r.point.lat);
                pt = r;
                showPosition(pt);
                //传参数给地图按钮
                //document.getElementById("alinkMap").href += "&x="+r.point.lng+"&y="+r.point.lat;
                //document.getElementById("alinkMap").style.display="block";
            }
        });
    }

    $(document).ready(function () {

        updateGatewayList();
        $("#query").click(function () {
            showNodeInfo();
        });

        // new button handler
//        $('#new-button').on('click', function () {
//
//            $("#gatewayId").val($("#gateway").val());
//            $('#doc-modal-1').modal({
//                relatedTarget: this,
//                onConfirm: function (e) {
//                    var post_url = $("#new_node_info_form").attr("action");
//                    $.ajax({
//                        url: post_url,
//                        type: 'post',
//                        cache: false,
//                        processData: false,
//                        contentType: false,
//                        data: new FormData($('#new_node_info_form')[0]),
//                        success: function () {
//                            alert("提交成功")
//                        }
//                    });
//                    showNodeInfo();
//                },
//                onCancel: function (e) {
//
//                }
//            });
//        });


    });

    function getAddress() {
        //创建Map地图实例
        var map = new BMap.Map("allmap");
        //设置中心点坐标
        var point = new BMap.Point(116.331398, 39.897445);
        //初始化地图
        /**
         *地图类型：
         *普通地图：BMAP_NORMAL_MAP
         *卫星地图：BMAP_HYBRID_MAP
         */
        var map = new BMap.Map("map", {mapType: BMap.BMAP_NORMAL_MAP, minZoom: 1, maxZoom: 18}); //设置地图类型及最小最大级别
        //设置地图级别（1-18）
        map.centerAndZoom(point, 12);
        //开启滚轮缩放地图
        map.enableScrollWheelZoom();
        //进行浏览器定位
        var geolocation = new BMap.Geolocation();
        geolocation.getCurrentPosition(function (r) {
            // 定位成功事件
            if (this.getStatus() == BMAP_STATUS_SUCCESS) {
                //alert('您的位置：'+r.point.lng+','+r.point.lat);
                var point = new BMap.Point(r.point.lng, +r.point.lat);
            }
        }, {enableHighAccuracy: true});
        //addEventListener--添加事件监听函数
        //click--点击事件获取经纬度
        map.addEventListener("click", function (e) {
            prompt("鼠标单击地方的经纬度为：", e.point.lng + "," + e.point.lat);
        });
    }

    /**
     * 回调函数
     */
    function setCenter(result) {
        var cityName = result.name;
        //把地图设置当前城市
        map.setCenter(cityName);
    }
    /**
     * 设置覆盖物，获取坐标
     * @param point
     */
    function setPoint(point) {
        if (point) {
            //坐标赋值
            $('#lng').val(point.lng);
            $('#lat').val(point.lat);
            Geocoder(point);

            map.centerAndZoom(point, 12);
            var marker = new BMap.Marker(point);
            map.addOverlay(marker);
            marker.enableDragging();//可以拖动
            //创建信息窗口
            var infoWindow = new BMap.InfoWindow("这就是您公司的位置。<br/>如果不正确，请拖动红色图标");
            //显示窗口
            marker.openInfoWindow(infoWindow);
            //点击监听
            marker.addEventListener("click", function () {
                this.openInfoWindow(infoWindow);
            });
            //拖动监听
            marker.addEventListener("dragend", function (e) {
                //坐标赋值
                $('#lng').val(e.point.lng);
                $('#lat').val(e.point.lat);
                Geocoder(e.point);
            });
        }
    }
    /**
     * 根据坐标获取地址
     * @param point
     * @constructor
     */
    function Geocoder(point) {
        var gc = new BMap.Geocoder();
        gc.getLocation(point, function (rs) {
            var addComp = rs.addressComponents;
            $('#address').val(addComp.province + ", " + addComp.city + ", " + addComp.district + ", " + addComp.street + ", " + addComp.streetNumber);
        });
    }
</script>

</body>

</html>