<div class="left-sidebar">
    <!-- 菜单 -->
    <ul class="sidebar-nav">

        <!--设备管理-->
        <li class="sidebar-nav-link">
            <a href="javascript:;" class="sidebar-nav-sub-title">
                <i class="am-icon-table sidebar-nav-link-logo"></i> 设备管理
                <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
            </a>
            <ul class="sidebar-nav sidebar-nav-sub" style="display: block">
                <li class="sidebar-nav-link">
                    <a href=/webapp/gateways">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 网关设备管理
                    </a>
                </li>

                <li class="sidebar-nav-link">
                    <a href="/webapp/nodeinfo">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> ZigBee节点信息管理
                    </a>
                </li>
            </ul>
        </li>


        <!--告警-->
        <li class="sidebar-nav-link">
            <a href="javascript:;" class="sidebar-nav-sub-title">
                <i class="am-icon-table sidebar-nav-link-logo"></i> 告警
                <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
            </a>
            <ul class="sidebar-nav sidebar-nav-sub" style="display: block">
                <li class="sidebar-nav-link" >
                    <a href="/webapp/threshold">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 告警阈值管理
                    </a>
                </li>

                <li class="sidebar-nav-link">
                    <a href="/webapp/warnings">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 告警管理
                    </a>
                </li>
            </ul>
        </li>

        <!--数据查看-->
        <li class="sidebar-nav-link">
            <a href="javascript:;" class="sidebar-nav-sub-title">
                <i class="am-icon-table sidebar-nav-link-logo"></i> 数据查看
                <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
            </a>
            <ul class="sidebar-nav sidebar-nav-sub" style="display: block">
                <li class="sidebar-nav-link">
                    <a href="/webapp/realtime">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 实时数据查看
                    </a>
                </li>

                <li class="sidebar-nav-link">
                    <a href="/webapp/history">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 历史数据与曲线
                    </a>
                </li>
            </ul>
        </li>

    </ul>
</div>