<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<span th:value="${user.username}"></span>
<div th:each="role : ${user.roles}" >
    <span th:text="${role.name}">管理员</span>
</div>
<form th:action="@{/user/delete(username=${user.username})}" method="post">
    <button id="submit" type="submit">删除</button>
</form>
<form th:action="@{/user/promote(username=${user.username},role=admin)}" method="post">
    <button id="submit1" type="submit">提升为管理员</button>
</form>
<form th:action="@{/user/promote(username=${user.username},role=expert)}" method="post">
    <button id="submit1" type="submit">提升为专家</button>
</form>
<form th:action="@{/user/demote(username=${user.username})}" method="post">
    <button id="submit2" type="submit">降级为普通用户</button>
</form>
<script>
    document.getElementById("submit").onclick=function () {
        alert("真的要删吗？");

    }
</script>
</body>
</html>