<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>告警列表</title>
    <meta name="description" content="告警列表">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <script src="/assets/js/echarts.min.js"></script>
    <link rel="stylesheet" href="/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/assets/css/amazeui.datatables.min.css"/>
    <link rel="stylesheet" href="/assets/css/app.css">
    <script src="/assets/js/jquery.min.js"></script>

</head>

<body data-type="widgets">
<script src="/assets/js/theme.js"></script>
<div class="am-g tpl-g">
    <div th:include="header::header"></div>
    <!-- 风格切换 -->
    <div class="tpl-skiner">
        <div class="tpl-skiner-toggle am-icon-cog">
        </div>
        <div class="tpl-skiner-content">
            <div class="tpl-skiner-content-title">
                选择主题
            </div>
            <div class="tpl-skiner-content-bar">
                <span class="skiner-color skiner-white" data-color="theme-white"></span>
                <span class="skiner-color skiner-black" data-color="theme-black"></span>
            </div>
        </div>
    </div>
    <!-- 侧边导航栏 -->
    <div th:include="sidebar"></div>


    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title  am-cf">告警列表</div>


                        </div>
                        <div class="widget-body  am-fr">

                            <!--用户列表-->
                            <div class="am-u-sm-12">
                                <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black "
                                       id="example-r">
                                    <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>产生时间</th>
                                        <th>网关</th>
                                        <th>节点</th>
                                        <th>通道</th>
                                        <th>读数</th>
                                        <th>上限</th>
                                        <th>下限</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody id="list">
                                    <!-- more data -->
                                    </tbody>
                                </table>
                            </div>

                            <!--删除确认对话框-->
                            <div id="delete-confirm-dialog" class="am-modal am-modal-prompt" tabindex="-1">
                                <div class="am-modal-dialog">
                                    <div class="am-modal-hd">确认
                                        <a href="javascript: void(0)" class="am-close am-close-spin"
                                           data-am-modal-close>&times;</a>
                                    </div>
                                    <div class="am-modal-hd" id="msg-content">是否真的删除？

                                    </div>
                                    <div class="am-modal-footer">
                                        <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                                        <span class="am-modal-btn" data-am-modal-confirm>提交</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="/assets/js/amazeui.min.js"></script>
<script src="/assets/js/amazeui.datatables.min.js"></script>
<script src="/assets/js/dataTables.responsive.min.js"></script>
<script src="/assets/js/app.js"></script>
<script>
    function showList() {
        var url = "/api/warnings" ;
        jQuery.getJSON(url, function (dataJson) {
            $("#list").empty();
            console.log(dataJson);
            dataJson.forEach(function (e) {
                //忽略已关闭告警条目
                if(e.closed!=null) {
                    return;
                }
                //显示未关闭告警条目
                $("#list").append("<tr class='gradeX'>" + "" +
                    "<td>" + e.id + "</td>" +
                    "<td>" + e.created + "</td>" +
                    "<td>" + e.readout.gateway.host+":"+e.readout.gateway.port + "</td>" +
                    "<td>" + e.readout.nodeAddr + "</td>" +
                    "<td>" + e.readout.channel + "</td>" +
                    "<td>" + e.readout.realValue + "</td>" +
                    "<td>" + e.thresholdInfo.upperLimit + "</td>" +
                    "<td>" + e.thresholdInfo.lowerLimit + "</td>" +
                    "<td>" +
                    "<button class='del'  onclick='deleteNodeInfo(this);' "
                    + e.id +" data-id='"+e.id+"'>删除</button>" +
                    "</td>"
                );
            });
        });
    }

    //文档加载完，显示列表
    $(document).ready(function () {
        showList();
    });


    // 删除按钮点击时触发动作
    var targeturl;
    function deleteNodeInfo(e) {
        targeturl ="/api/warnings/del?id="+ e.getAttribute("data-id");
        $('#msg-content').text("是否确定关闭告警？id为"+e.getAttribute("data-id"));
        $('#delete-confirm-dialog').modal({
            relatedTarget: this,
            onConfirm: function (e) {
                $.ajax({
                    url:targeturl,
                    type:'GET',
                    success:function(){
                        showList();
                    },
                });
            },
            onCancel: function (e) { }
        });

    }

</script>

</body>

</html>